.frame {
  background: url("../assets/images/people-coffee-meeting-team-7096.jpg")
    no-repeat center center fixed;
  background-size: cover;
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  width: 100vw;
  height: 100vh;
  position: relative;

  /* filter: blur(3px); */
}

.frame-modal {
  background: linear-gradient(
    to bottom,
    rgba(179, 220, 237, 0.99) 0%,
    rgba(163, 189, 240, 0.98) 53%,
    rgba(214, 183, 240, 0.9) 100%
  );
  width: 100vw;
  height: 100vh;
}

.frame-title {
  position: relative;

  text-align: center;
  margin-top: 0;
  margin-bottom: 0rem;
  margin-bottom: 0rem;
  color: white;
  font-size: 3rem;
}

main {
  position: relative;
  z-index: 1;
}
