@media screen and (min-width: 891px) {
  .modal_v3 {
    /* background: transparent; */
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    margin: 0;

    flex: 1;
    min-height: 100vh;
  }
  .sign-up-modal.modal_v3 {
    /* align-items: flex-start; */
  }
}
